#set prefix to ctrl+a

set -s escape-time 0
set -g default-terminal "tmux-256color"
set -ag terminal-overrides ",xterm-256color:RGB"
set -g status-style 'bg=#333333 fg=#5eacd3'
set-option -g status-position top 


bind-key -n F1 switch -p
bind-key -n F2 switch -n
bind-key -n F3 switch -l

bind-key -n § choose-session
bind-key e set-window-option synchronize-panes\; display-message "synchronize-panes is now #{?pane_synchronized,on,off}"
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix
#set -g default-terminal tmux

set -g mouse on

# start with window number 1
set -g base-index 1

# Notifying if other windows has activities
setw -g monitor-activity off

# Renumber windows on window close
set -g renumber-windows off

bind r source-file ~/.tmux.conf
bind s choose-tree -Zs 


# split panes using | and -
bind / split-window -h
bind . split-window -v
unbind '"'
unbind %

# Undercurl
set -g default-terminal "${TERM}"
set -as terminal-overrides ',*:Smulx=\E[4::%p1%dm'  # undercurl support
set -as terminal-overrides ',*:Setulc=\E[58::2::%p1%{65536}%/%d::%p1%{256}%/%{255}%&%d::%p1%{255}%&%d%;m'  # underscore colours - needs tmux-3.0

bind-key -n S-Left previous-window
bind-key -n S-Right next-window

bind-key -r f run-shell "tmux neww sh /Users/morzusman/.config/nvim/configs/tmux-sessionizer"
set-option -g history-limit 1000

