#set prefix to ctrl+a

set -s escape-time 0
set -g default-terminal "tmux-256color"
set -ag terminal-overrides ",xterm-256color:RGB"

unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix
#set -g default-terminal tmux

set -g mouse on

# start with window number 1
set -g base-index 1

# Notifying if other windows has activities
setw -g monitor-activity off

# Renumber windows on window close
set -g renumber-windows off

bind r source-file ~/.tmux.conf


# split panes using | and -
bind / split-window -h
bind . split-window -v
unbind '"'
unbind %

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
# set -g @plugin 'tmux-plugins/tmux-sensible'
# set -g @plugin 'tmux-plugins/tmux-resurrect'
# set -g @plugin 'tmux-plugins/tmux-yank'
# set -g @plugin 'tmux-plugins/tmux-prefix-highlight'
# set -g @plugin 'tmux-plugins/tmux-continuum'
# set -g @plugin 'jabirali/tmux-tilish'
# set -g @plugin 'ofirgall/tmux-window-name'
set -g @plugin 'dracula/tmux'
set -g @plugin 'sainnhe/tmux-fzf'


# Tilish
# set -g @tilish-default 'tiled'
TMUX_FZF_LAUNCH_KEY="z"
bind-key "a" run-shell -b "/Users/morzusman/.tmux/plugins/tmux-fzf/scripts/window.sh switch"
bind-key "u" run-shell -b "/Users/morzusman/.tmux/plugins/tpm/bin/clean_plugins"


# Undercurl
set -g default-terminal "${TERM}"
set -as terminal-overrides ',*:Smulx=\E[4::%p1%dm'  # undercurl support
set -as terminal-overrides ',*:Setulc=\E[58::2::%p1%{65536}%/%d::%p1%{256}%/%{255}%&%d::%p1%{255}%&%d%;m'  # underscore colours - needs tmux-3.0

# Dracula
set -g @dracula-show-powerline true
set -g @dracula-show-left-icon session
set -g @dracula-show-fahrenheit false
set -g @dracula-show-flags true
set-option -g focus-events on



    # Meta + h/l to cycle through tabs.
bind-key -n  S-Up select-pane -t :.+
bind-key -n S-Down select-pane -t :.-

bind-key -n S-Left previous-window
bind-key -n S-Right next-window

# tmux-continuum & tmux-resurrecrt
# set -g @continuum-restore 'off'
# set -g @resurrect-capture-pane-contents 'on'
# set -g @resurrect-strategy-nvim 'session'
bind-key -r f run-shell "tmux neww sh /Users/morzusman/.config/nvim/configs/tmux-sessionizer"
set-option -g history-limit 6000

setenv -g TMUX_PLUGIN_MANAGER_PATH "$HOME/.tmux/plugins/"
if "test ! -d ~/.tmux/plugins/tpm" \
   "run 'git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm && ~/.tmux/plugins/tpm/bin/install_plugins'"
# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run -b '~/.tmux/plugins/tpm/tpm'

## C-a + I to install plugins
set -g @plugin 'dracula/tmux'
